@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(199, 242, 255, 0.26);
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    gap: 10px;

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      background-color: #444;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: #555;
    }

    a.active {
      background-color: #555;
    }
  }
}

main {
  padding: 10vh 5vw 0 5vw;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Sign IN Container */
.sign-in-container {
  dialog {
    border: 0;
    border-radius: 10px;
    background-color: #232428;
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .login-with-discord {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      gap: 5vh;
      h1 {
        font-weight: 600;
      }
      a {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 15px 40px;
        font-weight: 700;
        border-radius: 5px;
        background-color: #4752C4;
        /* Discord Blurple */
        transition: background-color 0.3s;
        img {
          height: auto;
          width: 20px;
          margin-right: 10px;
        }
        &:hover {
          background-color: #3d47b1;
          /* Darker Discord Blurple Hover */
        }
        &.active {
          background-color: #4752C4;
          /* Darker Discord Blurple Active */
        }
      }
    }
    p {
      font-size: 0.8rem;
    }
  }
}