@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-background: #232428;
    --dark-gray-background: #2F3136;
    --gray-background: #36393F;
    --light-gray-background: #4F545C;
    --white: white;
    --black: black;
    --gray: #949BA4;
    --gold: #B7950B;
    --green: #6FC447;
    --red: #C44747;
    --blue: #4752C4;
    --yellow: #C4A347;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* App-wide styling */
body {
    background-color: var(--gray-background);
    color: red;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: red;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
}

#navbar a {
    color: var(--white);
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

/* Blog page */
#blog {
    margin-top: 50px;
}

#blog a {
    color: #ffffff;
    margin-top: 50px;
}

#login {
    &[open="true"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: 0;
        border-radius: 5px;
        background-color: var(--dark-background);
        color: var(--white);
        padding: 8vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
        z-index: 1000;

        a {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--blue);
            border: 0;
            color: var(--white);
            transition: background-color 0.3s ease;
            text-decoration: none;

            img {
                width: 20px;
                height: auto;
                margin-right: 10px;
            }

            span {
                font-weight: 600;
            }
        }

        a:hover {
            background-color: var(--light-gray-background);
            cursor: pointer;
        }
    }

    &:not([open=true]) {
        display: none;
    }
}